@model EONBussiness.DbContext.tbsanpham

@{
    ViewBag.Title = Model.tensp;
    Layout = "~/Views/Shared/_LayoutChiTiet.cshtml";
}
<div class="site grid-container container hfeed grid-parent" id="page">
    <div class="site-content" id="content">
        <div class="woocommerce-notices-wrapper"></div>		<div data-elementor-type="product" data-elementor-id="460" class="elementor elementor-460 elementor-location-single post-15276 product type-product status-publish has-post-thumbnail product_cat-cam-bien-ap-suat product_cat-thiet-bi-do-ap-suat sales-flash-overlay woocommerce-text-align-center wc-related-upsell-columns-4 wc-related-upsell-tablet-columns-2 wc-related-upsell-mobile-columns-1 do-quantity-buttons wc-has-gallery first instock shipping-taxable product-type-simple product" data-elementor-settings="[]">
            <div class="elementor-section-wrap">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-c738305 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c738305" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-dd46629" data-id="dd46629" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <section class="elementor-section elementor-inner-section elementor-element elementor-element-35ff85e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="35ff85e" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-container elementor-column-gap-narrow">
                                                <div class="elementor-row">
                                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f7de419" data-id="f7de419" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-6c233f8a yes elementor-widget elementor-widget-woocommerce-product-images" data-id="6c233f8a" data-element_type="widget" data-widget_type="woocommerce-product-images.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 1; transition: opacity 0.25s ease-in-out;">
                                                                            <a href="#" role="button" class="woocommerce-product-gallery__trigger" aria-haspopup="dialog" aria-label="Xem thư viện ảnh toàn màn hình"><span aria-hidden="true"><img draggable="false" role="img" class="emoji" alt="🔍" src="https://s.w.org/images/core/emoji/15.0.3/svg/1f50d.svg"></span></a>

                                                                            <div class="flex-viewport" style="overflow: hidden; position: relative; height: 265.156px; transition: none;">
                                                                                <div class="woocommerce-product-gallery__wrapper" style="width: 400%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                                                                    <div data-thumb="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458-1-100x100.jpg" data-thumb-alt="Cảm biến áp suất DMK 458 BD-Sensors" data-thumb-srcset="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458-1-100x100.jpg 100w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458-1-150x150.jpg 150w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458-1-300x300.jpg 300w" data-thumb-sizes="(max-width: 100px) 100vw, 100px" class="woocommerce-product-gallery__image flex-active-slide" style="position: relative; overflow: hidden; width: 323.797px; margin-right: 0px; float: left; display: block;"><a href="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458-1.jpg"><img width="600" height="491" src="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458-1-600x491.jpg" class="wp-post-image" alt="Cảm biến áp suất DMK 458 BD-Sensors" data-caption="" data-src="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458-1.jpg" data-large_image="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458-1.jpg" data-large_image_width="602" data-large_image_height="493" decoding="async" fetchpriority="high" srcset="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458-1-600x491.jpg 600w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458-1-300x246.jpg 300w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458-1.jpg 602w" sizes="(max-width: 600px) 100vw, 600px" draggable="false"></a><img alt="" src="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458-1.jpg" class="zoomImg" style="position: absolute; top: -6.01498px; left: 0px; opacity: 0; width: 602px; height: 493px; border: none; max-width: none; max-height: none;" aria-hidden="true"></div><div data-thumb="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a-100x100.jpg" data-thumb-alt="Cảm biến áp suất DMK 458 BD-Sensors - Hình ảnh 2" data-thumb-srcset="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a-100x100.jpg 100w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a-300x300.jpg 300w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a-150x150.jpg 150w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a-600x600.jpg 600w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a.jpg 640w" data-thumb-sizes="(max-width: 100px) 100vw, 100px" class="woocommerce-product-gallery__image" style="width: 323.797px; margin-right: 0px; float: left; display: block;"><a href="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a.jpg"><img width="600" height="600" src="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a-600x600.jpg" class="" alt="Cảm biến áp suất DMK 458 BD-Sensors - Hình ảnh 2" data-caption="" data-src="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a.jpg" data-large_image="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a.jpg" data-large_image_width="640" data-large_image_height="640" decoding="async" srcset="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a-600x600.jpg 600w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a-300x300.jpg 300w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a-150x150.jpg 150w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a-100x100.jpg 100w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a.jpg 640w" sizes="(max-width: 600px) 100vw, 600px" draggable="false"></a></div>
                                                                                </div>
                                                                            </div><ol class="flex-control-nav flex-control-thumbs"><li><img onload="this.width = this.naturalWidth; this.height = this.naturalHeight" src="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458-1-100x100.jpg" srcset="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458-1-100x100.jpg 100w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458-1-150x150.jpg 150w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458-1-300x300.jpg 300w" sizes="(max-width: 100px) 100vw, 100px" alt="Cảm biến áp suất DMK 458 BD-Sensors" class="flex-active" draggable="false" width="100" height="100"></li><li><img onload="this.width = this.naturalWidth; this.height = this.naturalHeight" src="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a-100x100.jpg" srcset="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a-100x100.jpg 100w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a-300x300.jpg 300w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a-150x150.jpg 150w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a-600x600.jpg 600w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-458a.jpg 640w" sizes="(max-width: 100px) 100vw, 100px" alt="Cảm biến áp suất DMK 458 BD-Sensors - Hình ảnh 2" draggable="false" width="100" height="100"></li></ol>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-61b6d169 elementor-widget elementor-widget-woocommerce-product-short-description" data-id="61b6d169" data-element_type="widget" data-widget_type="woocommerce-product-short-description.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="woocommerce-product-details__short-description">
                                                                            <p><a href="https://www.bdsensors.de/fileadmin/user_upload/Download/Datenblaetter_datasheets/DB_DMK458_E.pdf" class="elementor-button-link elementor-button elementor-size-sm"><span class="elementor-button-content-wrapper"><span class="elementor-button-text">File Download</span></span></a></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-0a2326c" data-id="0a2326c" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-14c3b8a elementor-widget elementor-widget-spacer" data-id="14c3b8a" data-element_type="widget" data-widget_type="spacer.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-spacer">
                                                                            <div class="elementor-spacer-inner"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-4463ee09 elementor-widget elementor-widget-woocommerce-product-title elementor-page-title elementor-widget-heading" data-id="4463ee09" data-element_type="widget" data-widget_type="woocommerce-product-title.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h1 class="product_title entry-title elementor-heading-title elementor-size-default">Cảm biến áp suất DMK 458 BD-Sensors</h1>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-1f345ada elementor-product-price-block-yes elementor-widget elementor-widget-woocommerce-product-price" data-id="1f345ada" data-element_type="widget" data-widget_type="woocommerce-product-price.default">
                                                                    <div class="elementor-widget-container">
                                                                        <p class="price"></p>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-3692790 elementor-widget elementor-widget-woocommerce-product-content" data-id="3692790" data-element_type="widget" data-widget_type="woocommerce-product-content.default">
                                                                    <div class="elementor-widget-container">
                                                                        <p>
                                                                            Type: DMK 458 – màng cảm biến ceramic<br>
                                                                            Chứng chỉ: LR, DNV, ABS, CCS<br>
                                                                            Thang đo: 0 … 40 mbar up to 0 … 20 bar<br>
                                                                            Độ chính xác: 0.25% FSO<br>
                                                                            Cấp bảo vệ: IP65, IP67, IP68<br>
                                                                            Tín hiệu ra: 4…20 mA / 2-wire, Ex, ATEX<br>
                                                                            Kết nối điện: plug versions, cable, field housing<br>
                                                                            Kết nối cơ khí: Ren G1/2″, NPT1/2″, mặt bích<br>
                                                                            Ứng dụng: vận tải biển, dầu khí, tàu thuyền…<br>
                                                                            Xuất xứ: BD SENSORS / CHLB Đức
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <div class="elementor-element elementor-element-b580b7c elementor-widget elementor-widget-spacer" data-id="b580b7c" data-element_type="widget" data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-3c35c29e elementor-product-loop-item--align-center elementor-grid-4 elementor-grid-tablet-3 elementor-grid-mobile-2 elementor-products-grid elementor-wc-products elementor-widget elementor-widget-woocommerce-product-related" data-id="3c35c29e" data-element_type="widget" data-widget_type="woocommerce-product-related.default">
                                            <div class="elementor-widget-container">

                                                <section class="related products">

                                                    <h2>Sản phẩm tương tự</h2>
                                                    <ul class="products elementor-grid columns-4">


                                                        <li class="sales-flash-overlay woocommerce-text-align-center wc-related-upsell-columns-4 wc-related-upsell-tablet-columns-2 wc-related-upsell-mobile-columns-1 do-quantity-buttons product type-product post-3521 status-publish first instock product_cat-thiet-bi-do-ap-suat has-post-thumbnail shipping-taxable product-type-simple">
                                                            <a href="https://vn-tech.com.vn/?product=dong-ho-ap-suat-4301-mat-63mm-40bar-g1-4-suku" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                                <div class="wc-product-image"><div class="inside-wc-product-image"><img width="300" height="300" src="https://vn-tech.com.vn/wp-content/uploads/2021/06/suku-4301-179-100.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" srcset="https://vn-tech.com.vn/wp-content/uploads/2021/06/suku-4301-179-100.jpg 300w, https://vn-tech.com.vn/wp-content/uploads/2021/06/suku-4301-179-100-150x150.jpg 150w, https://vn-tech.com.vn/wp-content/uploads/2021/06/suku-4301-179-100-100x100.jpg 100w" sizes="(max-width: 300px) 100vw, 300px"></div></div><h2 class="woocommerce-loop-product__title">Pressure Gauges NS63 – 4301 40bar G1/4 – SUKU</h2><div class="star-rating" title="Chưa đánh giá"><span style="width:0%"><strong class="rating">0</strong> ngoài 5</span></div>
                                                            </a>
                                                        </li>


                                                        <li class="sales-flash-overlay woocommerce-text-align-center wc-related-upsell-columns-4 wc-related-upsell-tablet-columns-2 wc-related-upsell-mobile-columns-1 do-quantity-buttons product type-product post-3655 status-publish instock product_cat-dong-ho-ap-suat product_cat-thiet-bi-do-ap-suat has-post-thumbnail shipping-taxable product-type-simple">
                                                            <a href="https://vn-tech.com.vn/?product=dong-ho-ap-suat-mat-100mm-7781-40-bar-suku" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                                <div class="wc-product-image"><div class="inside-wc-product-image"><img width="300" height="300" src="https://vn-tech.com.vn/wp-content/uploads/2021/06/suku-7781-479-100-40bar-3.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" loading="lazy" srcset="https://vn-tech.com.vn/wp-content/uploads/2021/06/suku-7781-479-100-40bar-3.jpg 300w, https://vn-tech.com.vn/wp-content/uploads/2021/06/suku-7781-479-100-40bar-3-150x150.jpg 150w, https://vn-tech.com.vn/wp-content/uploads/2021/06/suku-7781-479-100-40bar-3-100x100.jpg 100w" sizes="(max-width: 300px) 100vw, 300px"></div></div><h2 class="woocommerce-loop-product__title">Đồng Hồ Áp Suất Mặt 100mm – 7781 40 bar – SUKU</h2><div class="star-rating" title="Chưa đánh giá"><span style="width:0%"><strong class="rating">0</strong> ngoài 5</span></div>
                                                            </a>
                                                        </li>


                                                        <li class="sales-flash-overlay woocommerce-text-align-center wc-related-upsell-columns-4 wc-related-upsell-tablet-columns-2 wc-related-upsell-mobile-columns-1 do-quantity-buttons product type-product post-5699 status-publish instock product_cat-cam-bien-ap-suat product_cat-thiet-bi-do-ap-suat has-post-thumbnail shipping-taxable product-type-simple">
                                                            <a href="https://vn-tech.com.vn/?product=cam-bien-ap-suat-30-600g-16bar-g1-4" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                                <div class="wc-product-image"><div class="inside-wc-product-image"><img width="300" height="300" src="https://vn-tech.com.vn/wp-content/uploads/2021/06/bd-sensors-30-600g-16bar-1-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" loading="lazy" srcset="https://vn-tech.com.vn/wp-content/uploads/2021/06/bd-sensors-30-600g-16bar-1-300x300.jpg 300w, https://vn-tech.com.vn/wp-content/uploads/2021/06/bd-sensors-30-600g-16bar-1-150x150.jpg 150w, https://vn-tech.com.vn/wp-content/uploads/2021/06/bd-sensors-30-600g-16bar-1-100x100.jpg 100w, https://vn-tech.com.vn/wp-content/uploads/2021/06/bd-sensors-30-600g-16bar-1.jpg 500w" sizes="(max-width: 300px) 100vw, 300px"></div></div><h2 class="woocommerce-loop-product__title">Cảm Biến Áp Suất 30.600G 16bar G1/4</h2><div class="star-rating" title="Chưa đánh giá"><span style="width:0%"><strong class="rating">0</strong> ngoài 5</span></div>
                                                            </a>
                                                        </li>


                                                        <li class="sales-flash-overlay woocommerce-text-align-center wc-related-upsell-columns-4 wc-related-upsell-tablet-columns-2 wc-related-upsell-mobile-columns-1 do-quantity-buttons product type-product post-15187 status-publish last instock product_cat-cam-bien-ap-suat product_cat-thiet-bi-do-ap-suat has-post-thumbnail shipping-taxable product-type-simple">
                                                            <a href="https://vn-tech.com.vn/?product=cam-bien-ap-suat-dmk-331p-bd-sensors" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                                <div class="wc-product-image"><div class="inside-wc-product-image"><img width="300" height="300" src="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-331p-1-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" loading="lazy" srcset="https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-331p-1-300x300.jpg 300w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-331p-1-150x150.jpg 150w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-331p-1-768x768.jpg 768w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-331p-1-600x600.jpg 600w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-331p-1-100x100.jpg 100w, https://vn-tech.com.vn/wp-content/uploads/2021/08/bd-sensors-dmk-331p-1.jpg 1004w" sizes="(max-width: 300px) 100vw, 300px"></div></div><h2 class="woocommerce-loop-product__title">Cảm biến áp suất DMK 331P BD-Sensors</h2><div class="star-rating" title="Chưa đánh giá"><span style="width:0%"><strong class="rating">0</strong> ngoài 5</span></div>
                                                            </a>
                                                        </li>


                                                    </ul>

                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-9c311b8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="9c311b8" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5e14b6d" data-id="5e14b6d" data-element_type="column">
                                <div class="elementor-column-wrap">
                                    <div class="elementor-widget-wrap">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>